.item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 60px;
  min-height: 52px;
  width: 100%;
  cursor: -webkit-grab;
  cursor: grab;
  border-bottom: 1px solid var(--bd-bottom);
  background-color: var(--bg-input);
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.item:first-child {
  border-top-left-radius: var(--radii);
  border-top-right-radius: var(--radii);
}

.element_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text_input {
  margin: 0;
  max-width: 100%;
  font-weight: var(--fw-normal);
  font-size: var(--fs-sm);
  color: var(--col-list-in);
  word-wrap: break-word;
  transition: color 0.2s ease-in-out;
}

.text_decoration {
  text-decoration: line-through;
}

@media screen and (min-width: 576px) {
  .item {
    min-height: 65px;
  }

  .check_box {
    width: 24px;
    height: 24px;
  }

  .text_input {
    font-size: var(--fs-lg);
  }
}
