.delete_todo {
  position: absolute;
  top: 50%;
  right: 4%;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: transparent;
  transform: translateY(-50%) scale(0);
  transition: ease-in-out 0.2s;
}

.delete_todo.show {
  transform: translateY(-50%) scale(1);
}
