.filter {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--bg-input);
  border-bottom-left-radius: var(--radii);
  border-bottom-right-radius: var(--radii);
  transition: background 0.2s ease-in-out;
}

.counter {
  font-size: var(--fs-sm);
  color: var(--col-filter-link);
  transition: color 0.2s ease-in-out;
}

.clear {
  font-family: var(--family);
  border: none;
  font-size: var(--fs-sm);
  background: none;
  color: var(--col-filter-link);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.clear:hover {
  color: var(--hover-filter-link);
  transition: color 0.2s ease-in-out;
}

.linksBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  background-color: var(--bg-input);
  border-radius: var(--radii);
}

.linksWrapper {
  padding: 19px;
}

@media screen and (min-width: 576px) {
  .filter {
    padding: 24px;
  }

  .counter {
    font-size: var(--fs-md);
  }

  .clear {
    font-size: var(--fs-md);
  }
}
