.newTodo {
  position: relative;
  padding-top: 40px;
  z-index: 5;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
  padding: 10px 60px;
  border-radius: var(--radii);
  background-color: var(--bg-input);
  box-shadow: var(--shadow);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.textInput {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: var(--fs-sm);
  color: var(--color-input);
  background-color: var(--bg-input);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.textInput::placeholder {
  font-size: var(--fs-sm);
  color: var(--plh-color);
  transition: color 0.2s ease-in-out;
}

@media screen and (min-width: 576px) {
  .wrapper {
    height: 65px;
  }
  .textInput {
    font-size: var(--fs-lg);
    line-height: var(--line-height-m);
  }
  .textInput::placeholder {
    font-size: var(--fs-md);
    line-height: var(--line-height-m);
  }
}
